.homebody_container{
    width: 100%;
    height: 73vh;
    background-color: #afb2d1;
}

.homebody_main_main{
   
    height: 50vh;
    color: #092346;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.homebody_main_main > h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 400;
}
.homebody_main_main > h5{
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 200;
    margin-bottom: 0;
}

.homebody_icons{
    height: 2vh;
    width: 70%;
    border-radius: 200;
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly
}

.homebody_skills > h1{
    font-weight: 300;
}