.header_container{
    
    height: 15vh;
    width: 100%;
    background-color: #092346;
    display: flex;
}

.header_logo{
    width: 10%;
}
.header_logo > img {
    border-radius: 200px;
    margin-top: 10px;
}

.header_title{
    width: 90%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.header_title1 > h4{
    width: 43%;
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 300;

}

.header_title2 > h1{
    width: 55%;
    height: 80%;
    margin: auto;
    font-weight: 300;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}
.header_title3 > h4{
    width: 61%;
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
    font-weight: 300;
   
}