.net_container{
    
    background-color: #afb2d1;
    height: 68vh;
    padding-top: 3rem;
   
}
.net_img{
  
    width: 18%;
    margin: auto;
}
.net_img > h4{
    text-align: center;
    color: #092346;
    margin-top: 0;
    font-weight: 300;

}
.net_img > h1{
    
    text-align: center;
    color: #092346;
    font-weight: 300;
    font-size: 3rem;
   
}
.net_description{
   
    width: 30%;
    margin: auto;
    text-align: center;
    color: #092346;

}
.net_description > h2, .net_tech > h2 {
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.net_tech{
    color: #092346;
    width: 100%;
    margin: auto;
    text-align: center;
}
.net_tech > ul >li{
    list-style: none;
    margin-right: 2rem;
}