.sidebar_container{
    height: 100%;
    width: 15vw;
    background-color: #092346;
    color: whitesmoke;
}
.sidebar_title{
  
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1.4rem;
}
.sidebar_title > h2{
    font-weight: 300;
}

.sidebar_links{
    margin-top: 5rem;
}

.sidebar_links > ul > li{
    list-style: none;
    margin-bottom: 3rem;
   
}
.sidebar_links > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
  
}

hr{
    width: 50%;
}

